body
  +scrollbar
  
  +mont(m)
  +base-text
  line-height: $base-lh
  color: $base-text-color
  text-rendering: optimizeLegibility

  background: $beige-l

body.no-scroll
  overflow: hidden
  width: 100%
  height: 100vh
  position: fixed

html, body
  height: 100%

.reviews-slider-section + .inst-section
  padding-top: 18.5vh
  @media (max-width: $tab)
    padding-top: 120px

.reviews-slider-section + .slider-tours
  padding-top: 14.8vh
  @media (max-width: $tab)
    padding-top: 120px
