body
  +scrollbar
  
  +mont(m)
  +base-text
  line-height: $base-lh
  color: $base-text-color
  text-rendering: optimizeLegibility

  background: $beige-l

body.no-scroll
  overflow: hidden
  width: 100%
  height: 100vh
  position: fixed

html, body
  height: 100%

.reviews-slider-section + .inst-section
  padding-top: 18.5vh
  @media (max-width: $tab)
    padding-top: 120px

.reviews-slider-section + .slider-tours
  padding-top: 14.8vh
  @media (max-width: $tab)
    padding-top: 120px



// Animations
[data-animate="fade"]
  opacity: 0
  transition: opacity .6s cubic-bezier(.645,.045,.355,1)

[data-animate="fade"].visible
  opacity: 1


[data-animate="scalein"]
  transform: scale(0)
  transition: transform .6s cubic-bezier(.645,.045,.355,1)

[data-animate="scalein"].visible
  transform: scale(1)


[data-animate="fadeup"]
  opacity: 0
  transform: translateY(40px)
  transition: 1s ease

[data-animate="fadeup"].visible
  opacity: 1
  transform: translateY(0)

