/* FLEX */
.u-fxw
  flex-wrap: wrap

.u-center
  display: flex
  align-items: center
  justify-content: center


/* BLOCK */
.u-w100
  width: 100%

.u-ovh
  overflow: hidden

.u-ovxh
  overflow-x: hidden

.u-hidden
  display: none !important
