@import "responsive-mixin"
@import "font-mixin"
@import "common-mixin"
@import "grid"

=mont($weight: m)
  @if $weight == r
    font-family: 'Montserrat', sans-serif
    font-weight: 400
  @if $weight == m
    font-family: 'Montserrat', sans-serif
    font-weight: 500
  @if $weight == sb
    font-family: 'Montserrat', sans-serif
    font-weight: 600
  @if $weight == b
    font-family: 'Montserrat', sans-serif
    font-weight: 700
