
// Colors
$black: #000
$acc: #4AAD7B
$beige-l: #EFEDE9
$beige-d: #DBD1C6

// Typo
$base-lh: 1.5 !default
$base-text-color: $black !default


// Transitions
$cubic-io: cubic-bezier(0.785, 0.135, 0.15, 0.86)

$trs: 0.25s ease !default
$trs-4: 0.4s $cubic-io


// Common
$mob: 500px
$tab-sm: 700px
$tab: 1040px
$unit: var(--unit)
$unit-2: calc(var(--unit) * 2)
